doctype
html(lang = 'en')
	head
		title Choices
		script(src ='/javascripts/ext/require.js', data-main = '/javascripts/init-choices', type = 'text/javascript')
	
	body
		.container-choices
			.row(style = 'margin : 380px 0px 0px 800px')
				.col-md-12
					button.btn#upload-image(style = 'margin-top : 5px; display : block') Upload Image
					button.btn#write-blog(style= 'margin-top : 5px; display : block') Write it out
	
