doctype
html(lang = 'en')
	head
		title Diary
		script(src = '/javascripts/ext/require.js', data-main = '/javascripts/init-diary', type='text/javascript')

	body
		.container-dairy
			.row
				.col-md-12
					button.btn#new-note New Note
