doctype
html(lang = 'en')
	head
		title New Note
		script(src = '/javascripts/ext/require.js', data-main = '/javascripts/init-new-note', type='text/javascript')
	
	body
		.container-new-note
			.row
				.col-md-12
					textarea(rows='10', style="width: 60%; margin :50px 0px 0px 305px ; border-color: #cdcdcd; resize: none; height: 730px; margin-bottom: -4px; background-color : #ccffff")
			.row
				.col-md-12(style = 'text-align : center')
					button.btn#save-note(style =  'margin : 33px 18px 0px 856px') Save
					button.btn#clear-note Clear

