doctype
html(lang = 'en')
	head
		title GRANTH
		link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
		script(src='/javascripts/ext/require.js', data-main='/javascripts/init-form', type='text/javascript')


	body
		.container-background
			.row(style = 'margin : 0px; padding : 0px')
				.col-md-4
				.col-md-4(style = 'text-align : center;') 
					button.btn#lets-start(style = 'margin-top : 420px;  color: #fff; background-color: black; font-size: 22px; height: 70px; width: 450px; border-radius: 3px;') Let's start
				.col-md-4
