doctype
html(lang = 'en')
	head
		title Gyan ka phela darwaza

	body
		.div
			.row-md-12
				.col-md-12
					.div(style = 'height : 845px; border : 1px solid black; margin : 62px')
						.row
							.col-md-4
							.col-md-4(style = 'text-align : center')
								h1 Jawab ke lie taiyar
							.col-md-4
						.row(style = 'margin : 8px')
							.col-md-2
								span 1 Kese hai ap ?
							.col-md-1
							.col-md-2
								textarea#went_well(rows='7', style="width: 95%; border-color: #cdcdcd; resize: none; height: 55px;")
							.col-md-2
								span 2
